{% if type == 'section' %}
  {% assign display_first_name = section.settings.show_first_name %}
  {% assign display_last_name = section.settings.show_last_name %}
{% else %}
  {% assign display_first_name = settings.display_first_name %}
  {% assign display_last_name = settings.display_last_name %}
{% endif %}
<p style="cursor:default;">Keep in Touch<i class="fa icon1">&#xf003;</i></p>
<div class="newsletter {% if newsletter == 'center' %}center{% endif %} display-first-name--{{ display_first_name }} display-last-name--{{ display_last_name }}">
  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p class="message">{{ 'general.newsletter_form.success_text' | t }}</p>
    {% elsif form.errors %}
      {% for field in form.errors %}
        <p class="message">{{ field }} - {{ form.errors.messages[field] }}</p>
      {% endfor %}
    {% else %}

      {% if template contains "password" %}
        <input type="hidden" name="contact[tags]" value="prospect,password page"/>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter"/>
      {% endif %}

      <div class="input-row">
        {% if settings.display_first_name %}
          <input class="newsletter-half first-name" type="text" name="contact[first_name]" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}" />
        {% endif %}
        {% if settings.display_last_name %}
          <input class="newsletter-half last-name" type="text" name="contact[last_name]" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}" />
        {% endif %}

        {% if settings.display_first_name and settings.display_last_name %}
          </div>
          <div class="input-row">
        {% endif %}

        <input type="hidden" name="challenge" value="false" />
        <input type="email" class="contact_email" name="contact[email]" required placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
        <input type='submit' class="action_button sign_up" value="{{ 'general.newsletter_form.submit' | t }}" />
      </div>
    {% endif %}
  {% endform %}
</div>
<style>
  .icon1{
    font-weight: unset !important;
    font-family: FontAwesome !important;
    padding-left: 3vw !important;
    font-size: 30px !important;
  }
  @media only screen and (min-width:300px) and (max-width: 767px) {
    .icon1{
      font-weight: unset !important;
      font-family: FontAwesome !important;
      padding-left: 3vw !important;
      font-size: 30px !important;
    }
  }
</style>
