<div class="container main content main-wrapper">
  <div class="sixteen columns clearfix collection_nav">
    <h1 class="center">{{ 'cart.general.title' | t }}</h1>
    <div class="feature_divider"></div>
  </div>

  {% if cart.item_count == 0 %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
      </div>
    </div>
  {% else %}
    <form action="/cart" method="post" id="cart_form">
      <div class="section clearfix">
        <div class="ten columns cart_items">
          <h4 class="title">{{ 'cart.general.products' | t }}</h4>

          {% for item in cart.items %}
            <div class="five columns alpha">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                <img  src="{{ item | img_url: '300x' }}"
                      alt="{{ item.title | escape }}"
                      class="lazyload lazyload--fade-in"
                      style="max-width: {{- item.image.width -}}px"
                      data-sizes="auto"
                      data-src="{{ item | img_url: '900x' }}"
                      data-srcset=" {{ item | img_url: '2048x' }} 2048w,
                                    {{ item | img_url: '1600x' }} 1600w,
                                    {{ item | img_url: '1200x' }} 1200w,
                                    {{ item | img_url: '1000x' }} 1000w,
                                    {{ item | img_url: '800x' }} 800w,
                                    {{ item | img_url: '600x' }} 600w,
                                    {{ item | img_url: '400x' }} 400w"
                       />
              </a>
            </div>

            <div class="five columns omega">
              <p>
                <a href="{{ item.url }}">
                  {{ item.product.title }}
                </a>
              </p>
              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    {% unless option contains "Title" %}
                        <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endunless %}

              {% if item.properties %}
                <p>
                  {%- comment -%}{% for p in item.properties %}
                    {% unless p.last == blank %}
                      {% if p.last contains '/uploads/' %}
                        {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a><br />
                      {% else %}
                        {{ p.first }}: {{ p.last }}<br />
                      {% endif %}
                    {% endunless %}
                  {% endfor %}{%- endcomment -%}{%- for p in item.properties -%}
            {%- unless p.last == blank -%}
              <li class="product-details__item product-details__item--property{%if property_size == 0%} hide{% endif %}" data-cart-item-property>
                <span class="product-details__item-label" data-cart-item-property-name>{{ p.first }}: </span>

                {%- comment -%}
                  Check if there was an uploaded file associated
                {%- endcomment -%}
                <span data-cart-item-property-value>
                  {%- if p.last contains "uploads" -%}
                    <a href="{{ p.last }}">Uploaded File</a>
                  {%- else -%}
                    {{ p.last }}
                  {%- endif -%}
                </span>
              </li>
            {%- endunless -%}
          {%- endfor -%}
            <button type="button" class="edit_cart_option btn btn--primary button" data-product_id="{{item.product_id}}" data-key="{{item.key}}" data-variant_id="{{item.variant_id}}" data-quantity="{{item.quantity}}">Edit Options</button>
                </p>
              {% endif %}

              <p class="price_total">
                <span class="money"><span class='' data-key='{{item.key}}'><span class="bcpo-cart-item-price" data-key="{{item.key}}">{{ item.price | money_with_currency }}</span></span></span>
              </p>

              <p id="quantity_{{ forloop.index }}">
                <label for="updates_{{ item.id }}" class="quantity_label">{{ 'cart.general.quantity' | t }}:</label>
                <input type="number" min="0" size="3" maxlength="3" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
              </p>

              <p class="remove_item">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">{{ 'cart.general.remove' | t }}</a>
              </p>
            </div>
            <br class="clear" />
            <br class="clear" />
          {% endfor %}
        </div>

        <div class="five columns offset-by-one">
          <h4 class="subtotal">
            {{ 'cart.general.subtotal' | t }}
          </h4>

          <p class="subtotal_amount">
            <strong>
              <span class="money"><span class=''><span class="bcpo-cart-original-total">{{ cart.total_price | money_with_currency }}</span></span></span>
            </strong>
            {% comment %}
            <small id="estimated-shipping" style="display:none">+ <em><span class="money">{{ 0 | money }}</span> {{ 'cart.shipping_calculator.estimated_shipping' | t }}</em></small>
            {% endcomment %}

            <small class="excluding_tax"><em>{{ 'cart.general.excluding_tax_shipping' | t }}</em></small>
          </p>

          {% if settings.show_multiple_currencies %}
            <p>
              <small><p class="line-item-property__field">
        <label for="asfs-zdsfs">asfs zdsfs</label>
        <input id="asfs-zdsfs" type="text" name="properties[asfs zdsfs]">
      </p>
                {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
              </small>
            </p>
          {% endif %}

          {% if section.settings.display_special_instructions %}
            <label for="cart-note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
            <textarea id="cart-note" name="note" rows="2">{{ cart.note }}</textarea>
          {% endif %}

          {% if section.settings.display_tos_checkbox %}
            <div class="tos_checkbox">
              <input type="checkbox" class="tos_agree" id="cart_agree" required />
              <label class="tos_label" for="cart_agree">
                {{ section.settings.tos_richtext }}
              </label>
            </div>
          {% endif %}

          <p>
            <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
          </p>

          {% if content_for_additional_checkout_buttons and settings.cart_action != 'ajax' %}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
            </div>
          {% endif %}

          {% if cart.item_count > 0 and section.settings.display_continue_shopping %}
            <p class="continue_shopping">
              <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </form>
  {% endif %}
</div>

{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_continue_shopping",
      "label": "Show \"continue shopping\" link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_tos_checkbox",
      "label": "Show \"agree to terms\" checkbox"
    },
    {
      "type": "richtext",
      "id": "tos_richtext",
      "label": "Agree to terms text",
      "default": "<p>I Agree with the Terms & Conditions</p>"
    }
  ]
}

{% endschema %}

<!-- bcpo done -->