@media only screen and (min-width:768px) and (max-width: 1024px) {

  .content1 .insta h2{
    margin: 0;
    padding: 0;
  }
/*   .content1 .insta h2 a{
    padding: 0 !important;
    margin: 30px 0px 12px 0px;
  } */
  .content1 #rap__med__instagram a{
    padding: 0 !important;
    margin: 30px 0px 12px 0px;
  }
/*   .row.main11 {
    padding-bottom: 17px;
  } */
}
@media only screen and (min-width:480px) and (max-width: 767px) {
  .header-section > .container{
      width:100vw;
  }
}
